// --------------------------------------------------
// Buttons
// --------------------------------------------------

// Base
// --------------------------------------------------

.btn {
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  font-weight: 500;
  font-size: $font-0;
  line-height: $line-height-small;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
  box-sizing: border-box;
  min-height: 30px;
  .d-icon {
    transition: color 0.25s;
  }
  &:active,
  &.btn-active {
    text-shadow: none;
  }
  &[disabled],
  &.disabled {
    cursor: default;
    opacity: 0.4;
  }
  .fa {
    margin-right: 7px;
  }
  &.no-text {
    .fa {
      margin-right: 0;
    }
  }
}

.btn.hidden {
  display: none;
}

// Default button
// --------------------------------------------------

.btn {
  border: none;
  border-radius: 3px;
  color: #212833;
  background: #F0B90B;
  &:hover {
    background: rgba(240,185,11,0.8);
  }
  font-weight: normal;
  //border: 1px solid rgba(149,158,177,1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  .d-icon {
    color: white;
  }

  &[href] {
    color: #212833;
    min-height: unset; // ovverides button defaults
  }
  .discourse-no-touch & {
    // only allow hover on no-touch devices
 
  }
  &[disabled],
  &.disabled {
    background: $primary-low;
    .d-icon {
      color: $primary-medium;
    }
    &:hover {
      color: dark-light-choose($primary-low-mid, $secondary-high);
      .d-icon {
        color: $primary-low-mid;
      }
    }
    cursor: not-allowed;
  }

  .d-icon {
    line-height: $line-height-medium; // Match button text line-height
  }
}

// Primary button
// --------------------------------------------------

.btn-primary {
  border: none;
  color: $secondary;
  background: -webkit-linear-gradient(to right, #F0B90B, #FBDA3C); 
  background: -o-linear-gradient(to right, #F0B90B, #FBDA3C);
  background: -moz-linear-gradient(to right, #F0B90B, #FBDA3C);
  background: linear-gradient(to right, #F0B90B, #FBDA3C);  
  font-size:14px;
  font-family:ProximaNova-Regular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",sans-serif;
  font-weight:400;
  line-height:17px;
  .d-icon {
    color: currentColor;
  }
  &[href] {
    color: $secondary;
  }
  .discourse-no-touch & {
    // only allow hover on no-touch devices
    &:hover,
    &.btn-hover {
      background: -webkit-linear-gradient(to right, #F0B90B, #FBDA3C); 
      background: -o-linear-gradient(to right, #F0B90B, #FBDA3C);
      background: -moz-linear-gradient(to right, #F0B90B, #FBDA3C);
      background: linear-gradient(to right, #F0B90B, #FBDA3C); 
      opacity: 0.8;
      .d-icon {
        color: currentColor;
      }
    }
  }
  &[disabled],
  &.disabled {
    background: $tertiary;
    .d-icon {
      color: currentColor;
    }
  }
}

// Danger button
// --------------------------------------------------

.btn-danger {
  color: $secondary;
  font-weight: normal;
  background: $danger;
  .d-icon {
    color: $danger-low;
  }
  &[href] {
    color: $secondary;
  }
  .discourse-no-touch & {
    // only allow hover on no-touch devices
    &:hover,
    &.btn-hover {
      background: dark-light-choose(
        scale-color($danger, $lightness: -20%),
        scale-color($danger, $lightness: 20%)
      );
      .d-icon {
        color: $danger-low;
      }
    }
  }
  &:active,
  &.btn-active {
    @include linear-gradient(scale-color($danger, $lightness: -20%), $danger);
  }
  &[disabled],
  &.disabled {
    background: $danger;
    .d-icon {
      color: $danger-low;
    }
  }
}

// Social buttons
// --------------------------------------------------

.btn-social {
  .d-icon {
    color: #fff;
  }
  color: #fff;
  background: #666;
  &:hover {
    color: #fff;
  }
  &[href] {
    color: $secondary;
  }
  &:before {
    margin-right: 9px;
    font-size: $font-0;
  }
  &.google,
  &.google_oauth2 {
    background: $google;
    color: #333;
    border: 1px solid $primary-low;
    // non-FA SVG icon for Google in login-buttons.hbs
    .d-icon {
      opacity: 0.9;
    }
  }
  &.instagram {
    background: $instagram;
  }
  &.facebook {
    background: $facebook;
  }
  &.cas {
    background: $cas;
  }
  &.twitter {
    background: $twitter;
  }
  &.yahoo {
    background: $yahoo;
  }
  &.github {
    background: $github;
  }
}

// Button Sizes
// --------------------------------------------------

// Small

.btn-small {
  padding: 3px 6px;
  font-size: $font-down-1;
}

// Large

.btn-large {
  padding: 9px 18px;
  font-size: $font-up-1;
  line-height: $line-height-small;
}

.btn-flat {
  background: transparent;
  border: 0;
  outline: 0;
  line-height: $line-height-small;
  transition: color 0.25s, background 0.25s;
  .d-icon {
    color: $primary-low-mid;
  }
  .discourse-no-touch & {
    &:hover {
      .d-icon {
        color: $primary;
      }
    }
  }
}
