.select-kit {
  &.dropdown-select-box {
    &.period-chooser {
      display: inline-flex;
      position: relative;
      .period-chooser-header {
        background: none;
        border: none;
        justify-content: flex-start;
        width: auto;
        height: auto;
        padding: 0;

        h2.selected-name {
          color: $secondary;
          display: inline-block;
          box-sizing: border-box;

          .date-section {
            color: $primary;
            margin-right: 5px;
          }

          .top-date-string {
            font-size: $font-down-1;
            color: dark-light-choose($primary-medium, $secondary-high);
            font-weight: normal;
            text-transform: uppercase;
          }
        }

        .d-icon {
          color: $primary;
          opacity: 1;
          margin: 5px 0 10px 5px;
          font-size: $font-up-3;
        }

        &.is-focused,
        &:hover {
          background: none;
          border: none;
          outline: none;
        }
      }

      .period-chooser-row {
        font-weight: bold;
        font-size: 14px;
        height: 34px;
        align-items: center;
        display: flex;

        .period-title {
          flex: 1 0 0px;
        }

        .date-section {
          font-size: 14px;
          font-family: ProximaNova-Bold,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",sans-serif;
          font-weight: bold;
          color: #212833;
          line-height: 17px;
        }

        .top-date-string {
          text-transform: uppercase;
          margin-left: 5px;
          font-size:14px;
          font-family:ProximaNova-Regular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",sans-serif;
          font-weight:400;
          color: #848E9C;
          line-height:17px;
        }
      }

      .select-kit-row.is-selected {
        .top-date-string {
          color: #212833;
        }
      }

      .select-kit-row.is-highlighted {
        .top-date-string {
          color: #212833;
        }
      }


    }
  }
}
